* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkgray: #2f3e46;
    --darkgreen: #354f52;
    --forestgreen: #52796f;
    --dustygreen: #96c09f;
    --lightgreen: #eff8e9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*    HEADER   */
header {
    background-color: var(--darkgray);
    display: flex;
}
header h1 {
    background: var(--dustygreen);
    color: var(--darkgray);
    padding: 5px 10px 5px 40px;
    margin: 20px auto 10px 0 ;
    text-align: end;
    border-top-right-radius: 15px;
}
header a {
    color: var(--dustygreen);
    text-decoration: none;
    font-size: 18px;
    padding: 0 5px;
}
header nav {
    margin: auto;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header nav ul li {
    border-bottom: 3px solid var(--dustygreen);
    padding: 10px;
    padding-bottom: 4px;
    margin: auto 5px;
}
header nav ul li:hover {
    border-bottom: 4px solid var(--dustygreen);
}


/*    HERO SECTION   */
.hero {
    background-image: url(/assets/images/image-from-rawpixel-id-2282770-png.png);
    background-color: var(--lightgreen);
    background-size: cover;
    padding: 120px;
    background-position: bottom;
    position: relative;
}
.hero h2 {
    color: var(--darkgray);
    background: var(--dustygreen);
    padding: 5px;
    position: absolute;
    left: 15%;
    top: 3%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.hero img {
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 45%;
    box-shadow: 0px 0px 80px var(--darkgray);
}



/*    --   MAIN  CONTENT  --    */
section {
    background-color: var(--lightgreen);
    padding: 20px 80px;
    display: flex;
}
section h2 {
    color: var(--darkgreen);
    border-right: 3px solid var(--darkgreen);
    border-top-right-radius: 15px;
    padding-right: 10px;
    font-size: 35px;
    text-align: right;
    margin-right: 25px;
    flex: 0 0 15%;
}
section div {
    flex: 0 0 80%;
}

/*   ABOUT ME SECTION   */
#about-me p {
    color: var(--darkgreen);
    font-size: 20px;
    line-height: 1.5;
    width: 80%;
}

/*   WORK SECTION  */
.main-project,
.project {
    border: 4px solid var(--dustygreen);
    border-radius: 15px;
    position: relative;
    margin: 5px 0;
}

.main-project {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.main-project img {
    width: 100%;
    opacity: 70%;
}
.main-project img:hover {
    opacity: 100%;
}

.project {
    width: 49%;
    height: 100px;
    overflow: hidden;
}
.project img {
    width: 100%;
    object-fit: cover;
    opacity: 70%;
}
.project img:hover {
    opacity: 100%;
}
.project-name {
    background-color: var(--dustygreen);
    color: var(--darkgray);
    position: absolute;
    bottom: 15px;
    padding: 5px;
    line-height: 1.4;
    box-shadow: 0 0 20px var(--darkgray);
}
.project-name h3 {
    font-size: 18px;
}
.project-name h4 {
    font-size: 10px;
    font-weight: lighter;
}

.three,
.five {
    float: right;
}
.two,
.four {
    float: left;
}


/*     CONTACT ME SECTION    */

.contact-info {
    margin: auto;
}
.contact-info ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-info ul li {
    border-bottom: 3px solid var(--darkgreen);
    padding: 0 10px 5px 10px;
}
.contact-info ul li:hover {
    border-bottom: 4px solid var(--darkgreen);
}

.contact-info ul li a {
    text-decoration: none;
    color: var(--darkgreen);
    font-size: 20px;
}



/*     RESUME SECTION    */
#resume p {
    text-align: center;
    font-size: 25px;
    margin: auto;
}
#resume a {
    text-decoration: none;
    color: var(--lightgreen);
    background: var(--forestgreen);
    padding: 5px;
    border-radius: 15px;
}
#resume a:hover {
    background-color: var(--dustygreen);
    color: var(--darkgreen);
}



/*    FOOTER     */
footer {
    background-color: var(--darkgray);
    padding: 20px 20px;
    color: var(--dustygreen);
}
footer h2 {
    font-size: 18px;
    font-weight: lighter;
    text-align: end;
}






/*    COMING SOON PAGE   */
.coming-soon {
    height: 400px;
    justify-content: center;
    padding-bottom: 100px;
}