* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkgray: #2c2f30;
    --aqua: #89c4c5;
    --darkblue: #2d3864;
    font-family: Arial, Helvetica, sans-serif;
}

/*    HEADER   */
header {
    background-color: var(--darkgray);
    display: flex;
}
header h1 {
    background: var(--aqua);
    color: var(--darkgray);
    padding: 5px 10px 5px 40px;
    margin: 20px auto 10px 0 ;
    text-align: end;
}
header a {
    color: var(--aqua);
    text-decoration: none;
}
header nav {
    margin: auto;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header nav ul li {
    border-bottom: 3px solid var(--aqua);
    padding: 10px;
    padding-bottom: 4px;
    margin: auto 5px;
}


/*    HERO SECTION   */
.hero {
    background-image: url(/assets/images/sea-edge-79ab30e2.png);
    background-size: cover;
    padding: 50px;
    background-position: center;
}
.hero h2 {
    color: var(--darkgray);
    background: var(--aqua);
    padding: 5px;
    position: absolute;
    left: 70%;
}



/*     MAIN  CONTENT    */
section {
    padding: 20px 50px 20px 80px;
    display: flex;
}
section h2 {
    flex: 45%;
    color: var(--darkblue);
    border-right: 3px solid var(--darkblue);
    padding-right: 10px;
    font-size: 35px;
    text-align: right;
    margin-right: 25px;
}

/*   ABOUT ME SECTION   */
#about-me p {
    color: var(--darkblue);
    font-size: 14px;
    line-height: 1.4;
}

